body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.profile-img {
    overflow: hidden;
   height: 200px;
}

.input-box {
    border: none;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    padding: 6px;
}

.input-box:hover {
    background: #e8e8e8;
}

.alternate {
    background: #fafaf3;
}

.actor-box:hover {
    background: #e8e8e8;
}

.img-margin {
    padding: 3px;
}

.btn-menu {
    display: block;
    background: #fff;
    padding: 2px;
}
.btn-menu:hover {
    background: #808080;
    
}
